@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

500;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  color: initial;
  text-decoration: none;
}

header {
  background-color: #2D4263;
  height: 80px;
  line-height: 80px;
}

header h1,
header nav a {
  color: #fff;
}

header .row {
  align-items: center;
}

header nav ul {
  margin-left: 50px;
}

header nav ul li {
  margin: 0 10px;
}

main {
  background-color: #191919;
  min-height: calc(100vh - 80px);
  padding: 50px 0;
}

.home .card {
  background-color: #C84B31;
  width: calc(50% - 40px);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.home .card h2 {
  margin-bottom: 20px;
}

.home .card span {
  display: block;
  margin: 10px 0;
}

.home .card:hover {
  transform: scale(1.05);
}

