@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

500;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  color: initial;
  text-decoration: none;
}

header {
  background-color: #2D4263;
  padding: 20px 0;
}

header h1,
header nav a {
  color: #fff;
}

header .row {
  align-items: center;
}

header nav ul {
  margin-left: 50px;
}

header nav ul li {
  margin: 0 10px;
}

