header {
    background-color: #2D4263;
    padding: 20px 0;

    h1, nav a {
        color: #fff;
    }

    .row {
        align-items: center;
    }

    nav ul {
        margin-left: 50px;

        li {
            margin: 0 10px;
        }
    }
}