.home {

    .card {
        background-color: #C84B31;
        width: calc(100% / 2 - 40px);
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s;

        h2 {
            margin-bottom: 20px;
        }

        span {
            display: block;
            margin: 10px 0;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}